/* Styles spécifiques pour le Shadow DOM */
.div1 {
    background-color: rgb(214, 66, 187) !important;
    color: red;
    min-height: 2000px;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    color: red;
  }
  
  p {
    font-size: 1rem;
    text-align: center;
    color:red;
  }


  .div2 {
    background-color: rgb(66, 170, 214) !important;
    color: red;
    min-height: 2000px;
  }